SoftBO/Connected Services/interconsultaWS/InterconsultaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softcitws.soft.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="InterconsultaWS" targetNamespace="http://softcitws.soft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftCitWS/InterconsultaWS?xsd=1" namespace="http://softcitws.soft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarTodosInterconuslta">
    <part name="parameters" element="tns:listarTodosInterconuslta" />
  </message>
  <message name="listarTodosInterconusltaResponse">
    <part name="parameters" element="tns:listarTodosInterconusltaResponse" />
  </message>
  <message name="obtenerPorIdInterconuslta">
    <part name="parameters" element="tns:obtenerPorIdInterconuslta" />
  </message>
  <message name="obtenerPorIdInterconusltaResponse">
    <part name="parameters" element="tns:obtenerPorIdInterconusltaResponse" />
  </message>
  <message name="insertarInterconuslta">
    <part name="parameters" element="tns:insertarInterconuslta" />
  </message>
  <message name="insertarInterconusltaResponse">
    <part name="parameters" element="tns:insertarInterconusltaResponse" />
  </message>
  <portType name="InterconsultaWS">
    <operation name="listarTodosInterconuslta">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/InterconsultaWS/listarTodosInterconusltaRequest" message="tns:listarTodosInterconuslta" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/InterconsultaWS/listarTodosInterconusltaResponse" message="tns:listarTodosInterconusltaResponse" />
    </operation>
    <operation name="obtenerPorIdInterconuslta">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/InterconsultaWS/obtenerPorIdInterconusltaRequest" message="tns:obtenerPorIdInterconuslta" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/InterconsultaWS/obtenerPorIdInterconusltaResponse" message="tns:obtenerPorIdInterconusltaResponse" />
    </operation>
    <operation name="insertarInterconuslta">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/InterconsultaWS/insertarInterconusltaRequest" message="tns:insertarInterconuslta" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/InterconsultaWS/insertarInterconusltaResponse" message="tns:insertarInterconusltaResponse" />
    </operation>
  </portType>
  <binding name="InterconsultaWSPortBinding" type="tns:InterconsultaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarTodosInterconuslta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIdInterconuslta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarInterconuslta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="InterconsultaWS">
    <port name="InterconsultaWSPort" binding="tns:InterconsultaWSPortBinding">
      <soap:address location="http://localhost:8080/SoftCitWS/InterconsultaWS" />
    </port>
  </service>
</definitions>