SoftBO/Connected Services/usuarioWS/UsuarioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softcitws.soft.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="UsuarioWS" targetNamespace="http://softcitws.soft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftCitWS/UsuarioWS?xsd=1" namespace="http://softcitws.soft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarUsuario">
    <part name="parameters" element="tns:insertarUsuario" />
  </message>
  <message name="insertarUsuarioResponse">
    <part name="parameters" element="tns:insertarUsuarioResponse" />
  </message>
  <message name="modificarUsuario">
    <part name="parameters" element="tns:modificarUsuario" />
  </message>
  <message name="modificarUsuarioResponse">
    <part name="parameters" element="tns:modificarUsuarioResponse" />
  </message>
  <message name="buscarCuentaUsuario">
    <part name="parameters" element="tns:buscarCuentaUsuario" />
  </message>
  <message name="buscarCuentaUsuarioResponse">
    <part name="parameters" element="tns:buscarCuentaUsuarioResponse" />
  </message>
  <message name="cambiarEstadoLogicoUsuario">
    <part name="parameters" element="tns:cambiarEstadoLogicoUsuario" />
  </message>
  <message name="cambiarEstadoLogicoUsuarioResponse">
    <part name="parameters" element="tns:cambiarEstadoLogicoUsuarioResponse" />
  </message>
  <message name="completarRolesUsuario">
    <part name="parameters" element="tns:completarRolesUsuario" />
  </message>
  <message name="completarRolesUsuarioResponse">
    <part name="parameters" element="tns:completarRolesUsuarioResponse" />
  </message>
  <message name="obtenerPorIdUsuario">
    <part name="parameters" element="tns:obtenerPorIdUsuario" />
  </message>
  <message name="obtenerPorIdUsuarioResponse">
    <part name="parameters" element="tns:obtenerPorIdUsuarioResponse" />
  </message>
  <message name="cambiarEstadoGeneralUsuario">
    <part name="parameters" element="tns:cambiarEstadoGeneralUsuario" />
  </message>
  <message name="cambiarEstadoGeneralUsuarioResponse">
    <part name="parameters" element="tns:cambiarEstadoGeneralUsuarioResponse" />
  </message>
  <portType name="UsuarioWS">
    <operation name="insertarUsuario">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/UsuarioWS/insertarUsuarioRequest" message="tns:insertarUsuario" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/UsuarioWS/insertarUsuarioResponse" message="tns:insertarUsuarioResponse" />
    </operation>
    <operation name="modificarUsuario">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/UsuarioWS/modificarUsuarioRequest" message="tns:modificarUsuario" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/UsuarioWS/modificarUsuarioResponse" message="tns:modificarUsuarioResponse" />
    </operation>
    <operation name="buscarCuentaUsuario">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/UsuarioWS/buscarCuentaUsuarioRequest" message="tns:buscarCuentaUsuario" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/UsuarioWS/buscarCuentaUsuarioResponse" message="tns:buscarCuentaUsuarioResponse" />
    </operation>
    <operation name="cambiarEstadoLogicoUsuario">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/UsuarioWS/cambiarEstadoLogicoUsuarioRequest" message="tns:cambiarEstadoLogicoUsuario" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/UsuarioWS/cambiarEstadoLogicoUsuarioResponse" message="tns:cambiarEstadoLogicoUsuarioResponse" />
    </operation>
    <operation name="completarRolesUsuario">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/UsuarioWS/completarRolesUsuarioRequest" message="tns:completarRolesUsuario" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/UsuarioWS/completarRolesUsuarioResponse" message="tns:completarRolesUsuarioResponse" />
    </operation>
    <operation name="obtenerPorIdUsuario">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/UsuarioWS/obtenerPorIdUsuarioRequest" message="tns:obtenerPorIdUsuario" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/UsuarioWS/obtenerPorIdUsuarioResponse" message="tns:obtenerPorIdUsuarioResponse" />
    </operation>
    <operation name="cambiarEstadoGeneralUsuario">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/UsuarioWS/cambiarEstadoGeneralUsuarioRequest" message="tns:cambiarEstadoGeneralUsuario" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/UsuarioWS/cambiarEstadoGeneralUsuarioResponse" message="tns:cambiarEstadoGeneralUsuarioResponse" />
    </operation>
  </portType>
  <binding name="UsuarioWSPortBinding" type="tns:UsuarioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarCuentaUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cambiarEstadoLogicoUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="completarRolesUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIdUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cambiarEstadoGeneralUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="UsuarioWS">
    <port name="UsuarioWSPort" binding="tns:UsuarioWSPortBinding">
      <soap:address location="http://localhost:8080/SoftCitWS/UsuarioWS" />
    </port>
  </service>
</definitions>