SoftBO/Connected Services/diagnosticoWS/DiagnosticoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softcitws.soft.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="DiagnosticoWS" targetNamespace="http://softcitws.soft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftCitWS/DiagnosticoWS?xsd=1" namespace="http://softcitws.soft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="obtenerPorIdDiagnostico">
    <part name="parameters" element="tns:obtenerPorIdDiagnostico" />
  </message>
  <message name="obtenerPorIdDiagnosticoResponse">
    <part name="parameters" element="tns:obtenerPorIdDiagnosticoResponse" />
  </message>
  <message name="insertarDiagnostico">
    <part name="parameters" element="tns:insertarDiagnostico" />
  </message>
  <message name="insertarDiagnosticoResponse">
    <part name="parameters" element="tns:insertarDiagnosticoResponse" />
  </message>
  <message name="listarTodosDiagnostico">
    <part name="parameters" element="tns:listarTodosDiagnostico" />
  </message>
  <message name="listarTodosDiagnosticoResponse">
    <part name="parameters" element="tns:listarTodosDiagnosticoResponse" />
  </message>
  <portType name="DiagnosticoWS">
    <operation name="obtenerPorIdDiagnostico">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/DiagnosticoWS/obtenerPorIdDiagnosticoRequest" message="tns:obtenerPorIdDiagnostico" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/DiagnosticoWS/obtenerPorIdDiagnosticoResponse" message="tns:obtenerPorIdDiagnosticoResponse" />
    </operation>
    <operation name="insertarDiagnostico">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/DiagnosticoWS/insertarDiagnosticoRequest" message="tns:insertarDiagnostico" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/DiagnosticoWS/insertarDiagnosticoResponse" message="tns:insertarDiagnosticoResponse" />
    </operation>
    <operation name="listarTodosDiagnostico">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/DiagnosticoWS/listarTodosDiagnosticoRequest" message="tns:listarTodosDiagnostico" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/DiagnosticoWS/listarTodosDiagnosticoResponse" message="tns:listarTodosDiagnosticoResponse" />
    </operation>
  </portType>
  <binding name="DiagnosticoWSPortBinding" type="tns:DiagnosticoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerPorIdDiagnostico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarDiagnostico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosDiagnostico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DiagnosticoWS">
    <port name="DiagnosticoWSPort" binding="tns:DiagnosticoWSPortBinding">
      <soap:address location="http://localhost:8080/SoftCitWS/DiagnosticoWS" />
    </port>
  </service>
</definitions>