SoftBO/Connected Services/historiaWS/HistoriaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softcitws.soft.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="HistoriaWS" targetNamespace="http://softcitws.soft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftCitWS/HistoriaWS?xsd=1" namespace="http://softcitws.soft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarHistoria">
    <part name="parameters" element="tns:listarHistoria" />
  </message>
  <message name="listarHistoriaResponse">
    <part name="parameters" element="tns:listarHistoriaResponse" />
  </message>
  <message name="insertarHistoria">
    <part name="parameters" element="tns:insertarHistoria" />
  </message>
  <message name="insertarHistoriaResponse">
    <part name="parameters" element="tns:insertarHistoriaResponse" />
  </message>
  <message name="obtenerHistoriaPorId">
    <part name="parameters" element="tns:obtenerHistoriaPorId" />
  </message>
  <message name="obtenerHistoriaPorIdResponse">
    <part name="parameters" element="tns:obtenerHistoriaPorIdResponse" />
  </message>
  <message name="obtenerHistoriaPorIdPaciente">
    <part name="parameters" element="tns:obtenerHistoriaPorIdPaciente" />
  </message>
  <message name="obtenerHistoriaPorIdPacienteResponse">
    <part name="parameters" element="tns:obtenerHistoriaPorIdPacienteResponse" />
  </message>
  <portType name="HistoriaWS">
    <operation name="listarHistoria">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/HistoriaWS/listarHistoriaRequest" message="tns:listarHistoria" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/HistoriaWS/listarHistoriaResponse" message="tns:listarHistoriaResponse" />
    </operation>
    <operation name="insertarHistoria">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/HistoriaWS/insertarHistoriaRequest" message="tns:insertarHistoria" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/HistoriaWS/insertarHistoriaResponse" message="tns:insertarHistoriaResponse" />
    </operation>
    <operation name="obtenerHistoriaPorId">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/HistoriaWS/obtenerHistoriaPorIdRequest" message="tns:obtenerHistoriaPorId" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/HistoriaWS/obtenerHistoriaPorIdResponse" message="tns:obtenerHistoriaPorIdResponse" />
    </operation>
    <operation name="obtenerHistoriaPorIdPaciente">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/HistoriaWS/obtenerHistoriaPorIdPacienteRequest" message="tns:obtenerHistoriaPorIdPaciente" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/HistoriaWS/obtenerHistoriaPorIdPacienteResponse" message="tns:obtenerHistoriaPorIdPacienteResponse" />
    </operation>
  </portType>
  <binding name="HistoriaWSPortBinding" type="tns:HistoriaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarHistoria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarHistoria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerHistoriaPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerHistoriaPorIdPaciente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="HistoriaWS">
    <port name="HistoriaWSPort" binding="tns:HistoriaWSPortBinding">
      <soap:address location="http://localhost:8080/SoftCitWS/HistoriaWS" />
    </port>
  </service>
</definitions>