SoftBO/Connected Services/adminWS/AdminWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://softcitws.soft.pucp.edu.pe/" targetNamespace="http://softcitws.soft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="asignarNuevoRolParaUsuario" type="tns:asignarNuevoRolParaUsuario" />
  <xs:element name="asignarNuevoRolParaUsuarioResponse" type="tns:asignarNuevoRolParaUsuarioResponse" />
  <xs:complexType name="asignarNuevoRolParaUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="idRol" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="codMedico" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="correoElectronico" type="xs:string" />
      <xs:element minOccurs="0" name="estadoGeneral" type="tns:estadoGeneral" />
      <xs:element minOccurs="0" name="estadoLogico" type="tns:estadoLogico" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="tns:localDate" />
      <xs:element minOccurs="0" name="genero" type="tns:genero" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="numCelular" type="xs:string" />
      <xs:element minOccurs="0" name="numDocumento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="roles" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="tipoDocumento" type="tns:tipoDocumento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localDate" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="asignarNuevoRolParaUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoGeneral">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INACTIVO" />
      <xs:enumeration value="ACTIVO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoLogico">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AUSENTE" />
      <xs:enumeration value="DISPONIBLE" />
      <xs:enumeration value="DE_VACACIONES" />
      <xs:enumeration value="DE_BAJA" />
      <xs:enumeration value="EN_CAPACITACION" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="genero">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FEMENINO" />
      <xs:enumeration value="MASCULINO" />
      <xs:enumeration value="OTRO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DNI" />
      <xs:enumeration value="CE" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>