SoftBO/Connected Services/turnoWS/TurnoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://softcitws.soft.pucp.edu.pe/" targetNamespace="http://softcitws.soft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="listarTodosTurno" type="tns:listarTodosTurno" />
  <xs:element name="listarTodosTurnoResponse" type="tns:listarTodosTurnoResponse" />
  <xs:element name="modificarTurno" type="tns:modificarTurno" />
  <xs:element name="modificarTurnoResponse" type="tns:modificarTurnoResponse" />
  <xs:element name="obtenerPorIdTurno" type="tns:obtenerPorIdTurno" />
  <xs:element name="obtenerPorIdTurnoResponse" type="tns:obtenerPorIdTurnoResponse" />
  <xs:complexType name="modificarTurno">
    <xs:sequence>
      <xs:element minOccurs="0" name="turno" type="tns:turnoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="turnoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="estadoGeneral" type="tns:estadoGeneral" />
      <xs:element minOccurs="0" name="horaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="horaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idTurno" type="xs:int" />
      <xs:element minOccurs="0" name="nombreTurno" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarTurnoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdTurno">
    <xs:sequence>
      <xs:element minOccurs="0" name="idTurno" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdTurnoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:turnoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosTurno">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosTurnoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:turnoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoGeneral">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INACTIVO" />
      <xs:enumeration value="ACTIVO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>