SoftBO/Connected Services/turnoWS/TurnoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softcitws.soft.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="TurnoWS" targetNamespace="http://softcitws.soft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftCitWS/TurnoWS?xsd=1" namespace="http://softcitws.soft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="obtenerPorIdTurno">
    <part name="parameters" element="tns:obtenerPorIdTurno" />
  </message>
  <message name="obtenerPorIdTurnoResponse">
    <part name="parameters" element="tns:obtenerPorIdTurnoResponse" />
  </message>
  <message name="listarTodosTurno">
    <part name="parameters" element="tns:listarTodosTurno" />
  </message>
  <message name="listarTodosTurnoResponse">
    <part name="parameters" element="tns:listarTodosTurnoResponse" />
  </message>
  <message name="modificarTurno">
    <part name="parameters" element="tns:modificarTurno" />
  </message>
  <message name="modificarTurnoResponse">
    <part name="parameters" element="tns:modificarTurnoResponse" />
  </message>
  <portType name="TurnoWS">
    <operation name="obtenerPorIdTurno">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/TurnoWS/obtenerPorIdTurnoRequest" message="tns:obtenerPorIdTurno" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/TurnoWS/obtenerPorIdTurnoResponse" message="tns:obtenerPorIdTurnoResponse" />
    </operation>
    <operation name="listarTodosTurno">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/TurnoWS/listarTodosTurnoRequest" message="tns:listarTodosTurno" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/TurnoWS/listarTodosTurnoResponse" message="tns:listarTodosTurnoResponse" />
    </operation>
    <operation name="modificarTurno">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/TurnoWS/modificarTurnoRequest" message="tns:modificarTurno" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/TurnoWS/modificarTurnoResponse" message="tns:modificarTurnoResponse" />
    </operation>
  </portType>
  <binding name="TurnoWSPortBinding" type="tns:TurnoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerPorIdTurno">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosTurno">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarTurno">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="TurnoWS">
    <port name="TurnoWSPort" binding="tns:TurnoWSPortBinding">
      <soap:address location="http://localhost:8080/SoftCitWS/TurnoWS" />
    </port>
  </service>
</definitions>