SoftBO/Connected Services/examenWS/ExamenWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softcitws.soft.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ExamenWS" targetNamespace="http://softcitws.soft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftCitWS/ExamenWS?xsd=1" namespace="http://softcitws.soft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarExamen">
    <part name="parameters" element="tns:insertarExamen" />
  </message>
  <message name="insertarExamenResponse">
    <part name="parameters" element="tns:insertarExamenResponse" />
  </message>
  <message name="listarTodosTablaExamen">
    <part name="parameters" element="tns:listarTodosTablaExamen" />
  </message>
  <message name="listarTodosTablaExamenResponse">
    <part name="parameters" element="tns:listarTodosTablaExamenResponse" />
  </message>
  <message name="obtenerPorIdTablaExamen">
    <part name="parameters" element="tns:obtenerPorIdTablaExamen" />
  </message>
  <message name="obtenerPorIdTablaExamenResponse">
    <part name="parameters" element="tns:obtenerPorIdTablaExamenResponse" />
  </message>
  <portType name="ExamenWS">
    <operation name="insertarExamen">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/ExamenWS/insertarExamenRequest" message="tns:insertarExamen" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/ExamenWS/insertarExamenResponse" message="tns:insertarExamenResponse" />
    </operation>
    <operation name="listarTodosTablaExamen">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/ExamenWS/listarTodosTablaExamenRequest" message="tns:listarTodosTablaExamen" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/ExamenWS/listarTodosTablaExamenResponse" message="tns:listarTodosTablaExamenResponse" />
    </operation>
    <operation name="obtenerPorIdTablaExamen">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/ExamenWS/obtenerPorIdTablaExamenRequest" message="tns:obtenerPorIdTablaExamen" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/ExamenWS/obtenerPorIdTablaExamenResponse" message="tns:obtenerPorIdTablaExamenResponse" />
    </operation>
  </portType>
  <binding name="ExamenWSPortBinding" type="tns:ExamenWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarExamen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosTablaExamen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIdTablaExamen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ExamenWS">
    <port name="ExamenWSPort" binding="tns:ExamenWSPortBinding">
      <soap:address location="http://localhost:8080/SoftCitWS/ExamenWS" />
    </port>
  </service>
</definitions>