SoftBO/Connected Services/examenWS/ExamenWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://softcitws.soft.pucp.edu.pe/" targetNamespace="http://softcitws.soft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarExamen" type="tns:insertarExamen" />
  <xs:element name="insertarExamenResponse" type="tns:insertarExamenResponse" />
  <xs:element name="listarTodosTablaExamen" type="tns:listarTodosTablaExamen" />
  <xs:element name="listarTodosTablaExamenResponse" type="tns:listarTodosTablaExamenResponse" />
  <xs:element name="obtenerPorIdTablaExamen" type="tns:obtenerPorIdTablaExamen" />
  <xs:element name="obtenerPorIdTablaExamenResponse" type="tns:obtenerPorIdTablaExamenResponse" />
  <xs:complexType name="listarTodosTablaExamen">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosTablaExamenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:examenDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="examenDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="estadoGeneral" type="tns:estadoGeneral" />
      <xs:element minOccurs="0" name="idExamen" type="xs:int" />
      <xs:element minOccurs="0" name="nombreExamen" type="xs:string" />
      <xs:element minOccurs="0" name="tipoExamen" type="tns:tipoExamenDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoExamenDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="idTipoExamen" type="xs:int" />
      <xs:element minOccurs="0" name="indicacion" type="xs:string" />
      <xs:element minOccurs="0" name="nombreTipoExamen" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdTablaExamen">
    <xs:sequence>
      <xs:element minOccurs="0" name="examenId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdTablaExamenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:examenDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarExamen">
    <xs:sequence>
      <xs:element minOccurs="0" name="examen" type="tns:examenDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarExamenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoGeneral">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INACTIVO" />
      <xs:enumeration value="ACTIVO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>