SoftBO/Connected Services/especialidadWS/EspecialidadWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://softcitws.soft.pucp.edu.pe/" targetNamespace="http://softcitws.soft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cambiarEstadoEspecialidad" type="tns:cambiarEstadoEspecialidad" />
  <xs:element name="cambiarEstadoEspecialidadResponse" type="tns:cambiarEstadoEspecialidadResponse" />
  <xs:element name="insertarEspecialidad" type="tns:insertarEspecialidad" />
  <xs:element name="insertarEspecialidadResponse" type="tns:insertarEspecialidadResponse" />
  <xs:element name="listarEspecialidad" type="tns:listarEspecialidad" />
  <xs:element name="listarEspecialidadResponse" type="tns:listarEspecialidadResponse" />
  <xs:element name="modificarEspecialidad" type="tns:modificarEspecialidad" />
  <xs:element name="modificarEspecialidadResponse" type="tns:modificarEspecialidadResponse" />
  <xs:element name="obtenerPorIdTablaEspecialidad" type="tns:obtenerPorIdTablaEspecialidad" />
  <xs:element name="obtenerPorIdTablaEspecialidadResponse" type="tns:obtenerPorIdTablaEspecialidadResponse" />
  <xs:complexType name="listarEspecialidad">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEspecialidadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:especialidadDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidadDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="estadoGeneral" type="tns:estadoGeneral" />
      <xs:element minOccurs="0" name="idEspecialidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombreEspecialidad" type="xs:string" />
      <xs:element minOccurs="0" name="precioConsulta" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarEspecialidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="especialidad" type="tns:especialidadDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarEspecialidadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cambiarEstadoEspecialidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="especialidad" type="tns:especialidadDTO" />
      <xs:element minOccurs="0" name="estado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cambiarEstadoEspecialidadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEspecialidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="especialidad" type="tns:especialidadDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEspecialidadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdTablaEspecialidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdTablaEspecialidadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:especialidadDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoGeneral">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INACTIVO" />
      <xs:enumeration value="ACTIVO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>