SoftBO/Connected Services/especialidadWS/EspecialidadWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softcitws.soft.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="EspecialidadWS" targetNamespace="http://softcitws.soft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftCitWS/EspecialidadWS?xsd=1" namespace="http://softcitws.soft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarEspecialidad">
    <part name="parameters" element="tns:listarEspecialidad" />
  </message>
  <message name="listarEspecialidadResponse">
    <part name="parameters" element="tns:listarEspecialidadResponse" />
  </message>
  <message name="insertarEspecialidad">
    <part name="parameters" element="tns:insertarEspecialidad" />
  </message>
  <message name="insertarEspecialidadResponse">
    <part name="parameters" element="tns:insertarEspecialidadResponse" />
  </message>
  <message name="modificarEspecialidad">
    <part name="parameters" element="tns:modificarEspecialidad" />
  </message>
  <message name="modificarEspecialidadResponse">
    <part name="parameters" element="tns:modificarEspecialidadResponse" />
  </message>
  <message name="cambiarEstadoEspecialidad">
    <part name="parameters" element="tns:cambiarEstadoEspecialidad" />
  </message>
  <message name="cambiarEstadoEspecialidadResponse">
    <part name="parameters" element="tns:cambiarEstadoEspecialidadResponse" />
  </message>
  <message name="obtenerPorIdTablaEspecialidad">
    <part name="parameters" element="tns:obtenerPorIdTablaEspecialidad" />
  </message>
  <message name="obtenerPorIdTablaEspecialidadResponse">
    <part name="parameters" element="tns:obtenerPorIdTablaEspecialidadResponse" />
  </message>
  <portType name="EspecialidadWS">
    <operation name="listarEspecialidad">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/EspecialidadWS/listarEspecialidadRequest" message="tns:listarEspecialidad" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/EspecialidadWS/listarEspecialidadResponse" message="tns:listarEspecialidadResponse" />
    </operation>
    <operation name="insertarEspecialidad">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/EspecialidadWS/insertarEspecialidadRequest" message="tns:insertarEspecialidad" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/EspecialidadWS/insertarEspecialidadResponse" message="tns:insertarEspecialidadResponse" />
    </operation>
    <operation name="modificarEspecialidad">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/EspecialidadWS/modificarEspecialidadRequest" message="tns:modificarEspecialidad" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/EspecialidadWS/modificarEspecialidadResponse" message="tns:modificarEspecialidadResponse" />
    </operation>
    <operation name="cambiarEstadoEspecialidad">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/EspecialidadWS/cambiarEstadoEspecialidadRequest" message="tns:cambiarEstadoEspecialidad" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/EspecialidadWS/cambiarEstadoEspecialidadResponse" message="tns:cambiarEstadoEspecialidadResponse" />
    </operation>
    <operation name="obtenerPorIdTablaEspecialidad">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/EspecialidadWS/obtenerPorIdTablaEspecialidadRequest" message="tns:obtenerPorIdTablaEspecialidad" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/EspecialidadWS/obtenerPorIdTablaEspecialidadResponse" message="tns:obtenerPorIdTablaEspecialidadResponse" />
    </operation>
  </portType>
  <binding name="EspecialidadWSPortBinding" type="tns:EspecialidadWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarEspecialidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarEspecialidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarEspecialidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cambiarEstadoEspecialidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIdTablaEspecialidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="EspecialidadWS">
    <port name="EspecialidadWSPort" binding="tns:EspecialidadWSPortBinding">
      <soap:address location="http://localhost:8080/SoftCitWS/EspecialidadWS" />
    </port>
  </service>
</definitions>