SoftBO/Connected Services/consultorioWS/ConsultorioWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://softcitws.soft.pucp.edu.pe/" targetNamespace="http://softcitws.soft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarConsultorio" type="tns:insertarConsultorio" />
  <xs:element name="insertarConsultorioResponse" type="tns:insertarConsultorioResponse" />
  <xs:element name="listarTodosConsultorio" type="tns:listarTodosConsultorio" />
  <xs:element name="listarTodosConsultorioResponse" type="tns:listarTodosConsultorioResponse" />
  <xs:element name="modificarConsultorio" type="tns:modificarConsultorio" />
  <xs:element name="modificarConsultorioResponse" type="tns:modificarConsultorioResponse" />
  <xs:element name="obtenerPorIdConsultorio" type="tns:obtenerPorIdConsultorio" />
  <xs:element name="obtenerPorIdConsultorioResponse" type="tns:obtenerPorIdConsultorioResponse" />
  <xs:complexType name="insertarConsultorio">
    <xs:sequence>
      <xs:element minOccurs="0" name="consultorio" type="tns:consultorioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultorioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="estadoGeneral" type="tns:estadoGeneral" />
      <xs:element minOccurs="0" name="idConsultorio" type="xs:int" />
      <xs:element minOccurs="0" name="numConsultorio" type="xs:int" />
      <xs:element minOccurs="0" name="numPiso" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarConsultorioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdConsultorio">
    <xs:sequence>
      <xs:element minOccurs="0" name="consultorioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdConsultorioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:consultorioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosConsultorio">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosConsultorioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:consultorioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarConsultorio">
    <xs:sequence>
      <xs:element minOccurs="0" name="consultorio" type="tns:consultorioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarConsultorioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoGeneral">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INACTIVO" />
      <xs:enumeration value="ACTIVO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>