SoftBO/Connected Services/tipoexamenWS/TipoExamenWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softcitws.soft.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="TipoExamenWS" targetNamespace="http://softcitws.soft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftCitWS/TipoExamenWS?xsd=1" namespace="http://softcitws.soft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarTipoExamen">
    <part name="parameters" element="tns:insertarTipoExamen" />
  </message>
  <message name="insertarTipoExamenResponse">
    <part name="parameters" element="tns:insertarTipoExamenResponse" />
  </message>
  <message name="obtenerPorIdTipoExamen">
    <part name="parameters" element="tns:obtenerPorIdTipoExamen" />
  </message>
  <message name="obtenerPorIdTipoExamenResponse">
    <part name="parameters" element="tns:obtenerPorIdTipoExamenResponse" />
  </message>
  <message name="listarTodosTipoExamen">
    <part name="parameters" element="tns:listarTodosTipoExamen" />
  </message>
  <message name="listarTodosTipoExamenResponse">
    <part name="parameters" element="tns:listarTodosTipoExamenResponse" />
  </message>
  <message name="modificarTipoExamen">
    <part name="parameters" element="tns:modificarTipoExamen" />
  </message>
  <message name="modificarTipoExamenResponse">
    <part name="parameters" element="tns:modificarTipoExamenResponse" />
  </message>
  <portType name="TipoExamenWS">
    <operation name="insertarTipoExamen">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/TipoExamenWS/insertarTipoExamenRequest" message="tns:insertarTipoExamen" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/TipoExamenWS/insertarTipoExamenResponse" message="tns:insertarTipoExamenResponse" />
    </operation>
    <operation name="obtenerPorIdTipoExamen">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/TipoExamenWS/obtenerPorIdTipoExamenRequest" message="tns:obtenerPorIdTipoExamen" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/TipoExamenWS/obtenerPorIdTipoExamenResponse" message="tns:obtenerPorIdTipoExamenResponse" />
    </operation>
    <operation name="listarTodosTipoExamen">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/TipoExamenWS/listarTodosTipoExamenRequest" message="tns:listarTodosTipoExamen" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/TipoExamenWS/listarTodosTipoExamenResponse" message="tns:listarTodosTipoExamenResponse" />
    </operation>
    <operation name="modificarTipoExamen">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/TipoExamenWS/modificarTipoExamenRequest" message="tns:modificarTipoExamen" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/TipoExamenWS/modificarTipoExamenResponse" message="tns:modificarTipoExamenResponse" />
    </operation>
  </portType>
  <binding name="TipoExamenWSPortBinding" type="tns:TipoExamenWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarTipoExamen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIdTipoExamen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosTipoExamen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarTipoExamen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="TipoExamenWS">
    <port name="TipoExamenWSPort" binding="tns:TipoExamenWSPortBinding">
      <soap:address location="http://localhost:8080/SoftCitWS/TipoExamenWS" />
    </port>
  </service>
</definitions>