SoftBO/Connected Services/tipoexamenWS/TipoExamenWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://softcitws.soft.pucp.edu.pe/" targetNamespace="http://softcitws.soft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarTipoExamen" type="tns:insertarTipoExamen" />
  <xs:element name="insertarTipoExamenResponse" type="tns:insertarTipoExamenResponse" />
  <xs:element name="listarTodosTipoExamen" type="tns:listarTodosTipoExamen" />
  <xs:element name="listarTodosTipoExamenResponse" type="tns:listarTodosTipoExamenResponse" />
  <xs:element name="modificarTipoExamen" type="tns:modificarTipoExamen" />
  <xs:element name="modificarTipoExamenResponse" type="tns:modificarTipoExamenResponse" />
  <xs:element name="obtenerPorIdTipoExamen" type="tns:obtenerPorIdTipoExamen" />
  <xs:element name="obtenerPorIdTipoExamenResponse" type="tns:obtenerPorIdTipoExamenResponse" />
  <xs:complexType name="modificarTipoExamen">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipoExamen" type="tns:tipoExamenDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoExamenDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="idTipoExamen" type="xs:int" />
      <xs:element minOccurs="0" name="indicacion" type="xs:string" />
      <xs:element minOccurs="0" name="nombreTipoExamen" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarTipoExamenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdTipoExamen">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipoExamenId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdTipoExamenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:tipoExamenDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosTipoExamen">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosTipoExamenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tipoExamenDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarTipoExamen">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipoExamen" type="tns:tipoExamenDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarTipoExamenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>