SoftBO/Connected Services/pacienteWS/PacienteWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softcitws.soft.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PacienteWS" targetNamespace="http://softcitws.soft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftCitWS/PacienteWS?xsd=1" namespace="http://softcitws.soft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="cancelarCitaPaciente">
    <part name="parameters" element="tns:cancelarCitaPaciente" />
  </message>
  <message name="cancelarCitaPacienteResponse">
    <part name="parameters" element="tns:cancelarCitaPacienteResponse" />
  </message>
  <message name="listarCitasPaciente">
    <part name="parameters" element="tns:listarCitasPaciente" />
  </message>
  <message name="listarCitasPacienteResponse">
    <part name="parameters" element="tns:listarCitasPacienteResponse" />
  </message>
  <message name="reprogramarCitaPaciente">
    <part name="parameters" element="tns:reprogramarCitaPaciente" />
  </message>
  <message name="reprogramarCitaPacienteResponse">
    <part name="parameters" element="tns:reprogramarCitaPacienteResponse" />
  </message>
  <message name="reservarCitaPaciente">
    <part name="parameters" element="tns:reservarCitaPaciente" />
  </message>
  <message name="reservarCitaPacienteResponse">
    <part name="parameters" element="tns:reservarCitaPacienteResponse" />
  </message>
  <message name="listarCitasPorPersonaPaciente">
    <part name="parameters" element="tns:listarCitasPorPersonaPaciente" />
  </message>
  <message name="listarCitasPorPersonaPacienteResponse">
    <part name="parameters" element="tns:listarCitasPorPersonaPacienteResponse" />
  </message>
  <portType name="PacienteWS">
    <operation name="cancelarCitaPaciente">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/PacienteWS/cancelarCitaPacienteRequest" message="tns:cancelarCitaPaciente" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/PacienteWS/cancelarCitaPacienteResponse" message="tns:cancelarCitaPacienteResponse" />
    </operation>
    <operation name="listarCitasPaciente">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/PacienteWS/listarCitasPacienteRequest" message="tns:listarCitasPaciente" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/PacienteWS/listarCitasPacienteResponse" message="tns:listarCitasPacienteResponse" />
    </operation>
    <operation name="reprogramarCitaPaciente">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/PacienteWS/reprogramarCitaPacienteRequest" message="tns:reprogramarCitaPaciente" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/PacienteWS/reprogramarCitaPacienteResponse" message="tns:reprogramarCitaPacienteResponse" />
    </operation>
    <operation name="reservarCitaPaciente">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/PacienteWS/reservarCitaPacienteRequest" message="tns:reservarCitaPaciente" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/PacienteWS/reservarCitaPacienteResponse" message="tns:reservarCitaPacienteResponse" />
    </operation>
    <operation name="listarCitasPorPersonaPaciente">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/PacienteWS/listarCitasPorPersonaPacienteRequest" message="tns:listarCitasPorPersonaPaciente" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/PacienteWS/listarCitasPorPersonaPacienteResponse" message="tns:listarCitasPorPersonaPacienteResponse" />
    </operation>
  </portType>
  <binding name="PacienteWSPortBinding" type="tns:PacienteWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="cancelarCitaPaciente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCitasPaciente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="reprogramarCitaPaciente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="reservarCitaPaciente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCitasPorPersonaPaciente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PacienteWS">
    <port name="PacienteWSPort" binding="tns:PacienteWSPortBinding">
      <soap:address location="http://localhost:8080/SoftCitWS/PacienteWS" />
    </port>
  </service>
</definitions>