SoftBO/Connected Services/historiaclinicaporcitaWS/HistoriaClinicaPorCitaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softcitws.soft.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="HistoriaClinicaPorCitaWS" targetNamespace="http://softcitws.soft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftCitWS/HistoriaClinicaPorCitaWS?xsd=1" namespace="http://softcitws.soft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="ModificarHistoriaClinicaPorCita">
    <part name="parameters" element="tns:ModificarHistoriaClinicaPorCita" />
  </message>
  <message name="ModificarHistoriaClinicaPorCitaResponse">
    <part name="parameters" element="tns:ModificarHistoriaClinicaPorCitaResponse" />
  </message>
  <message name="InsertarHistoriaClinicaPorCita">
    <part name="parameters" element="tns:InsertarHistoriaClinicaPorCita" />
  </message>
  <message name="InsertarHistoriaClinicaPorCitaResponse">
    <part name="parameters" element="tns:InsertarHistoriaClinicaPorCitaResponse" />
  </message>
  <message name="ObtenerHistoriaClinicaPorIdCita">
    <part name="parameters" element="tns:ObtenerHistoriaClinicaPorIdCita" />
  </message>
  <message name="ObtenerHistoriaClinicaPorIdCitaResponse">
    <part name="parameters" element="tns:ObtenerHistoriaClinicaPorIdCitaResponse" />
  </message>
  <message name="ListarTodasLasHistoriasClinicasPorCita">
    <part name="parameters" element="tns:ListarTodasLasHistoriasClinicasPorCita" />
  </message>
  <message name="ListarTodasLasHistoriasClinicasPorCitaResponse">
    <part name="parameters" element="tns:ListarTodasLasHistoriasClinicasPorCitaResponse" />
  </message>
  <message name="ListarHistoriasClinicasPorIdHistoria">
    <part name="parameters" element="tns:ListarHistoriasClinicasPorIdHistoria" />
  </message>
  <message name="ListarHistoriasClinicasPorIdHistoriaResponse">
    <part name="parameters" element="tns:ListarHistoriasClinicasPorIdHistoriaResponse" />
  </message>
  <portType name="HistoriaClinicaPorCitaWS">
    <operation name="ModificarHistoriaClinicaPorCita">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/HistoriaClinicaPorCitaWS/ModificarHistoriaClinicaPorCitaRequest" message="tns:ModificarHistoriaClinicaPorCita" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/HistoriaClinicaPorCitaWS/ModificarHistoriaClinicaPorCitaResponse" message="tns:ModificarHistoriaClinicaPorCitaResponse" />
    </operation>
    <operation name="InsertarHistoriaClinicaPorCita">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/HistoriaClinicaPorCitaWS/InsertarHistoriaClinicaPorCitaRequest" message="tns:InsertarHistoriaClinicaPorCita" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/HistoriaClinicaPorCitaWS/InsertarHistoriaClinicaPorCitaResponse" message="tns:InsertarHistoriaClinicaPorCitaResponse" />
    </operation>
    <operation name="ObtenerHistoriaClinicaPorIdCita">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/HistoriaClinicaPorCitaWS/ObtenerHistoriaClinicaPorIdCitaRequest" message="tns:ObtenerHistoriaClinicaPorIdCita" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/HistoriaClinicaPorCitaWS/ObtenerHistoriaClinicaPorIdCitaResponse" message="tns:ObtenerHistoriaClinicaPorIdCitaResponse" />
    </operation>
    <operation name="ListarTodasLasHistoriasClinicasPorCita">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/HistoriaClinicaPorCitaWS/ListarTodasLasHistoriasClinicasPorCitaRequest" message="tns:ListarTodasLasHistoriasClinicasPorCita" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/HistoriaClinicaPorCitaWS/ListarTodasLasHistoriasClinicasPorCitaResponse" message="tns:ListarTodasLasHistoriasClinicasPorCitaResponse" />
    </operation>
    <operation name="ListarHistoriasClinicasPorIdHistoria">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/HistoriaClinicaPorCitaWS/ListarHistoriasClinicasPorIdHistoriaRequest" message="tns:ListarHistoriasClinicasPorIdHistoria" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/HistoriaClinicaPorCitaWS/ListarHistoriasClinicasPorIdHistoriaResponse" message="tns:ListarHistoriasClinicasPorIdHistoriaResponse" />
    </operation>
  </portType>
  <binding name="HistoriaClinicaPorCitaWSPortBinding" type="tns:HistoriaClinicaPorCitaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ModificarHistoriaClinicaPorCita">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertarHistoriaClinicaPorCita">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ObtenerHistoriaClinicaPorIdCita">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListarTodasLasHistoriasClinicasPorCita">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListarHistoriasClinicasPorIdHistoria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="HistoriaClinicaPorCitaWS">
    <port name="HistoriaClinicaPorCitaWSPort" binding="tns:HistoriaClinicaPorCitaWSPortBinding">
      <soap:address location="http://localhost:8080/SoftCitWS/HistoriaClinicaPorCitaWS" />
    </port>
  </service>
</definitions>