SoftBO/Connected Services/historiaclinicaporcitaWS/HistoriaClinicaPorCitaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://softcitws.soft.pucp.edu.pe/" targetNamespace="http://softcitws.soft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InsertarHistoriaClinicaPorCita" type="tns:InsertarHistoriaClinicaPorCita" />
  <xs:element name="InsertarHistoriaClinicaPorCitaResponse" type="tns:InsertarHistoriaClinicaPorCitaResponse" />
  <xs:element name="ListarHistoriasClinicasPorIdHistoria" type="tns:ListarHistoriasClinicasPorIdHistoria" />
  <xs:element name="ListarHistoriasClinicasPorIdHistoriaResponse" type="tns:ListarHistoriasClinicasPorIdHistoriaResponse" />
  <xs:element name="ListarTodasLasHistoriasClinicasPorCita" type="tns:ListarTodasLasHistoriasClinicasPorCita" />
  <xs:element name="ListarTodasLasHistoriasClinicasPorCitaResponse" type="tns:ListarTodasLasHistoriasClinicasPorCitaResponse" />
  <xs:element name="ModificarHistoriaClinicaPorCita" type="tns:ModificarHistoriaClinicaPorCita" />
  <xs:element name="ModificarHistoriaClinicaPorCitaResponse" type="tns:ModificarHistoriaClinicaPorCitaResponse" />
  <xs:element name="ObtenerHistoriaClinicaPorIdCita" type="tns:ObtenerHistoriaClinicaPorIdCita" />
  <xs:element name="ObtenerHistoriaClinicaPorIdCitaResponse" type="tns:ObtenerHistoriaClinicaPorIdCitaResponse" />
  <xs:complexType name="ListarTodasLasHistoriasClinicasPorCita">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListarTodasLasHistoriasClinicasPorCitaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:historiaClinicaPorCitaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="historiaClinicaPorCitaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="cita" type="tns:citaDTO" />
      <xs:element minOccurs="0" name="estadoGeneral" type="tns:estadoGeneral" />
      <xs:element minOccurs="0" name="evolucion" type="xs:string" />
      <xs:element minOccurs="0" name="frecuenciaCardiaca" type="xs:int" />
      <xs:element minOccurs="0" name="historiaClinica" type="tns:historiaClinicaDTO" />
      <xs:element minOccurs="0" name="motivoConsulta" type="xs:string" />
      <xs:element minOccurs="0" name="peso" type="xs:double" />
      <xs:element minOccurs="0" name="presionArterial" type="xs:string" />
      <xs:element minOccurs="0" name="receta" type="xs:string" />
      <xs:element minOccurs="0" name="recomendacion" type="xs:string" />
      <xs:element minOccurs="0" name="talla" type="xs:double" />
      <xs:element minOccurs="0" name="temperatura" type="xs:double" />
      <xs:element minOccurs="0" name="tratamiento" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="citaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="consultorio" type="tns:consultorioDTO" />
      <xs:element minOccurs="0" name="especialidad" type="tns:especialidadDTO" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoCita" />
      <xs:element minOccurs="0" name="fechaCita" type="xs:string" />
      <xs:element minOccurs="0" name="horaFin" type="tns:localTime" />
      <xs:element minOccurs="0" name="horaInicio" type="tns:localTime" />
      <xs:element minOccurs="0" name="idCita" type="xs:int" />
      <xs:element minOccurs="0" name="medico" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="turno" type="tns:turnoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultorioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="estadoGeneral" type="tns:estadoGeneral" />
      <xs:element minOccurs="0" name="idConsultorio" type="xs:int" />
      <xs:element minOccurs="0" name="numConsultorio" type="xs:int" />
      <xs:element minOccurs="0" name="numPiso" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidadDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="estadoGeneral" type="tns:estadoGeneral" />
      <xs:element minOccurs="0" name="idEspecialidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombreEspecialidad" type="xs:string" />
      <xs:element minOccurs="0" name="precioConsulta" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="usuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="codMedico" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="correoElectronico" type="xs:string" />
      <xs:element minOccurs="0" name="estadoGeneral" type="tns:estadoGeneral" />
      <xs:element minOccurs="0" name="estadoLogico" type="tns:estadoLogico" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="tns:localDate" />
      <xs:element minOccurs="0" name="genero" type="tns:genero" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="numCelular" type="xs:string" />
      <xs:element minOccurs="0" name="numDocumento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="roles" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="tipoDocumento" type="tns:tipoDocumento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localDate" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="turnoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="estadoGeneral" type="tns:estadoGeneral" />
      <xs:element minOccurs="0" name="horaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="horaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idTurno" type="xs:int" />
      <xs:element minOccurs="0" name="nombreTurno" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="historiaClinicaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="estadoGeneral" type="tns:estadoGeneral" />
      <xs:element minOccurs="0" name="idHistoriaClinica" type="xs:int" />
      <xs:element minOccurs="0" name="paciente" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerHistoriaClinicaPorIdCita">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCita" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerHistoriaClinicaPorIdCitaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:historiaClinicaPorCitaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertarHistoriaClinicaPorCita">
    <xs:sequence>
      <xs:element minOccurs="0" name="historiaPorCita" type="tns:historiaClinicaPorCitaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertarHistoriaClinicaPorCitaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModificarHistoriaClinicaPorCita">
    <xs:sequence>
      <xs:element minOccurs="0" name="historiaPorCita" type="tns:historiaClinicaPorCitaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModificarHistoriaClinicaPorCitaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarHistoriasClinicasPorIdHistoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="idHistoria" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarHistoriasClinicasPorIdHistoriaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:historiaClinicaPorCitaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoGeneral">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INACTIVO" />
      <xs:enumeration value="ACTIVO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoCita">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RESERVADO" />
      <xs:enumeration value="DISPONIBLE" />
      <xs:enumeration value="PAGADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoLogico">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AUSENTE" />
      <xs:enumeration value="DISPONIBLE" />
      <xs:enumeration value="DE_VACACIONES" />
      <xs:enumeration value="DE_BAJA" />
      <xs:enumeration value="EN_CAPACITACION" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="genero">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FEMENINO" />
      <xs:enumeration value="MASCULINO" />
      <xs:enumeration value="OTRO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DNI" />
      <xs:enumeration value="CE" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>