SoftBO/Connected Services/examenporcitaWS/ExamenPorCitaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softcitws.soft.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ExamenPorCitaWS" targetNamespace="http://softcitws.soft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftCitWS/ExamenPorCitaWS?xsd=1" namespace="http://softcitws.soft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="InsertarExamenPorCita">
    <part name="parameters" element="tns:InsertarExamenPorCita" />
  </message>
  <message name="InsertarExamenPorCitaResponse">
    <part name="parameters" element="tns:InsertarExamenPorCitaResponse" />
  </message>
  <message name="ListarExamenesPorIdCita">
    <part name="parameters" element="tns:ListarExamenesPorIdCita" />
  </message>
  <message name="ListarExamenesPorIdCitaResponse">
    <part name="parameters" element="tns:ListarExamenesPorIdCitaResponse" />
  </message>
  <message name="ListarTodosLosExamenesPorCita">
    <part name="parameters" element="tns:ListarTodosLosExamenesPorCita" />
  </message>
  <message name="ListarTodosLosExamenesPorCitaResponse">
    <part name="parameters" element="tns:ListarTodosLosExamenesPorCitaResponse" />
  </message>
  <portType name="ExamenPorCitaWS">
    <operation name="InsertarExamenPorCita">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/ExamenPorCitaWS/InsertarExamenPorCitaRequest" message="tns:InsertarExamenPorCita" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/ExamenPorCitaWS/InsertarExamenPorCitaResponse" message="tns:InsertarExamenPorCitaResponse" />
    </operation>
    <operation name="ListarExamenesPorIdCita">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/ExamenPorCitaWS/ListarExamenesPorIdCitaRequest" message="tns:ListarExamenesPorIdCita" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/ExamenPorCitaWS/ListarExamenesPorIdCitaResponse" message="tns:ListarExamenesPorIdCitaResponse" />
    </operation>
    <operation name="ListarTodosLosExamenesPorCita">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/ExamenPorCitaWS/ListarTodosLosExamenesPorCitaRequest" message="tns:ListarTodosLosExamenesPorCita" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/ExamenPorCitaWS/ListarTodosLosExamenesPorCitaResponse" message="tns:ListarTodosLosExamenesPorCitaResponse" />
    </operation>
  </portType>
  <binding name="ExamenPorCitaWSPortBinding" type="tns:ExamenPorCitaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="InsertarExamenPorCita">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListarExamenesPorIdCita">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListarTodosLosExamenesPorCita">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ExamenPorCitaWS">
    <port name="ExamenPorCitaWSPort" binding="tns:ExamenPorCitaWSPortBinding">
      <soap:address location="http://localhost:8080/SoftCitWS/ExamenPorCitaWS" />
    </port>
  </service>
</definitions>