SoftBO/Connected Services/diagnosticoporcitaWS/DiagnosticoPorCitaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softcitws.soft.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="DiagnosticoPorCitaWS" targetNamespace="http://softcitws.soft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftCitWS/DiagnosticoPorCitaWS?xsd=1" namespace="http://softcitws.soft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="ListarDiagnosticoPorIdCita">
    <part name="parameters" element="tns:ListarDiagnosticoPorIdCita" />
  </message>
  <message name="ListarDiagnosticoPorIdCitaResponse">
    <part name="parameters" element="tns:ListarDiagnosticoPorIdCitaResponse" />
  </message>
  <message name="ListarTodosLosDiagnosticos">
    <part name="parameters" element="tns:ListarTodosLosDiagnosticos" />
  </message>
  <message name="ListarTodosLosDiagnosticosResponse">
    <part name="parameters" element="tns:ListarTodosLosDiagnosticosResponse" />
  </message>
  <message name="InsertarDiagnosticoPorCita">
    <part name="parameters" element="tns:InsertarDiagnosticoPorCita" />
  </message>
  <message name="InsertarDiagnosticoPorCitaResponse">
    <part name="parameters" element="tns:InsertarDiagnosticoPorCitaResponse" />
  </message>
  <portType name="DiagnosticoPorCitaWS">
    <operation name="ListarDiagnosticoPorIdCita">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/DiagnosticoPorCitaWS/ListarDiagnosticoPorIdCitaRequest" message="tns:ListarDiagnosticoPorIdCita" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/DiagnosticoPorCitaWS/ListarDiagnosticoPorIdCitaResponse" message="tns:ListarDiagnosticoPorIdCitaResponse" />
    </operation>
    <operation name="ListarTodosLosDiagnosticos">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/DiagnosticoPorCitaWS/ListarTodosLosDiagnosticosRequest" message="tns:ListarTodosLosDiagnosticos" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/DiagnosticoPorCitaWS/ListarTodosLosDiagnosticosResponse" message="tns:ListarTodosLosDiagnosticosResponse" />
    </operation>
    <operation name="InsertarDiagnosticoPorCita">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/DiagnosticoPorCitaWS/InsertarDiagnosticoPorCitaRequest" message="tns:InsertarDiagnosticoPorCita" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/DiagnosticoPorCitaWS/InsertarDiagnosticoPorCitaResponse" message="tns:InsertarDiagnosticoPorCitaResponse" />
    </operation>
  </portType>
  <binding name="DiagnosticoPorCitaWSPortBinding" type="tns:DiagnosticoPorCitaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ListarDiagnosticoPorIdCita">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListarTodosLosDiagnosticos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InsertarDiagnosticoPorCita">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DiagnosticoPorCitaWS">
    <port name="DiagnosticoPorCitaWSPort" binding="tns:DiagnosticoPorCitaWSPortBinding">
      <soap:address location="http://localhost:8080/SoftCitWS/DiagnosticoPorCitaWS" />
    </port>
  </service>
</definitions>