SoftBO/Connected Services/usuarioporespecialidadWS/UsuarioPorEspecialidadWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softcitws.soft.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="UsuarioPorEspecialidadWS" targetNamespace="http://softcitws.soft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftCitWS/UsuarioPorEspecialidadWS?xsd=1" namespace="http://softcitws.soft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarPorUsuarioUsuarioPorEspecialidad">
    <part name="parameters" element="tns:listarPorUsuarioUsuarioPorEspecialidad" />
  </message>
  <message name="listarPorUsuarioUsuarioPorEspecialidadResponse">
    <part name="parameters" element="tns:listarPorUsuarioUsuarioPorEspecialidadResponse" />
  </message>
  <message name="listarPorEspecialidadUsuarioPorEspecialidad">
    <part name="parameters" element="tns:listarPorEspecialidadUsuarioPorEspecialidad" />
  </message>
  <message name="listarPorEspecialidadUsuarioPorEspecialidadResponse">
    <part name="parameters" element="tns:listarPorEspecialidadUsuarioPorEspecialidadResponse" />
  </message>
  <message name="insertarUsuarioPorEspecialidad">
    <part name="parameters" element="tns:insertarUsuarioPorEspecialidad" />
  </message>
  <message name="insertarUsuarioPorEspecialidadResponse">
    <part name="parameters" element="tns:insertarUsuarioPorEspecialidadResponse" />
  </message>
  <portType name="UsuarioPorEspecialidadWS">
    <operation name="listarPorUsuarioUsuarioPorEspecialidad">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/UsuarioPorEspecialidadWS/listarPorUsuarioUsuarioPorEspecialidadRequest" message="tns:listarPorUsuarioUsuarioPorEspecialidad" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/UsuarioPorEspecialidadWS/listarPorUsuarioUsuarioPorEspecialidadResponse" message="tns:listarPorUsuarioUsuarioPorEspecialidadResponse" />
    </operation>
    <operation name="listarPorEspecialidadUsuarioPorEspecialidad">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/UsuarioPorEspecialidadWS/listarPorEspecialidadUsuarioPorEspecialidadRequest" message="tns:listarPorEspecialidadUsuarioPorEspecialidad" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/UsuarioPorEspecialidadWS/listarPorEspecialidadUsuarioPorEspecialidadResponse" message="tns:listarPorEspecialidadUsuarioPorEspecialidadResponse" />
    </operation>
    <operation name="insertarUsuarioPorEspecialidad">
      <input wsam:Action="http://softcitws.soft.pucp.edu.pe/UsuarioPorEspecialidadWS/insertarUsuarioPorEspecialidadRequest" message="tns:insertarUsuarioPorEspecialidad" />
      <output wsam:Action="http://softcitws.soft.pucp.edu.pe/UsuarioPorEspecialidadWS/insertarUsuarioPorEspecialidadResponse" message="tns:insertarUsuarioPorEspecialidadResponse" />
    </operation>
  </portType>
  <binding name="UsuarioPorEspecialidadWSPortBinding" type="tns:UsuarioPorEspecialidadWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarPorUsuarioUsuarioPorEspecialidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorEspecialidadUsuarioPorEspecialidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarUsuarioPorEspecialidad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="UsuarioPorEspecialidadWS">
    <port name="UsuarioPorEspecialidadWSPort" binding="tns:UsuarioPorEspecialidadWSPortBinding">
      <soap:address location="http://localhost:8080/SoftCitWS/UsuarioPorEspecialidadWS" />
    </port>
  </service>
</definitions>